
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Blog website</title>
</head>
<body>
    <div>
        <ul class="flex gap-5 justify-center py-3 font-semibold bg-slate-500 text-black">
            <li><a class="px-3 py-2 rounded hover:textblack hover:bg-white ease-in duration-300" href="/">Home</a></li>
            <li><a class="px-3 py-2 rounded hover:textblack hover:bg-white ease-in duration-300" href="/newblog">Add new</a></li>

        </ul>
    </div>
  <main>
  