<%- include('./components/Header.ejs') %>


<div
  class="my-3 max-w-lg border border-black mx-auto bg-white rounded-md overflow-hidden shadow-md"
>
  <div class="px-6 py-4">
    <h2 class="text-2xl font-semibold text-gray-800 mb-2">Add New Blog</h2>
    <form method="POST" action="/">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
          Title
        </label>
        <input
          name="title"
          required
          class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="title"
          type="text"
          placeholder="Title"
        />
      </div>
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="description"
        >
          Description
        </label>
        <textarea
          name="description"
          required
          class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="description"
          placeholder="Description"
        ></textarea>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="author">
          Author Name
        </label>
        <input
          name="author"
          required
          class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="author"
          type="text"
          placeholder="Author Name"
        />
      </div>
      <div class="flex items-center justify-between">
        <input type="submit" value="Submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
      </div>
    </form>
  </div>
</div>

<%- include('./components/Footer.ejs') %>
